<h1>Show Hook</h1>

<ul>

  <li>
    <strong>Endpoint:</strong>
    <%= @hook.endpoint %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.hook_path(@conn, :edit, @hook) %></span>
<span><%= link "Back", to: Routes.hook_path(@conn, :index) %></span>
